body{
    background-color: black;
}

.w1{
    width: 100%;
    padding: 40px;
}

.w2{
    width: 100%;
    padding: 40px;
}

#air h1,
#air h2,
#air h4{
    color: #F5FFFA;
}

h4{
    font-family: 'Lobster', cursive;
}