body{
    background-color: black;
}

.w1{
    width: 100%;
    padding: 40px;
}

.w2{
    width: 100%;
    padding: 40px;
}

#air h1,
#air h2,
#air h4{
    color: #F5FFFA;
}

h4{
    font-family: 'Lobster', cursive;
}

#TWFP{
    color: #F5FFFA;
    padding: 40px;
    padding-bottom: 10px;
}
.carousel img {
     width: 100%;
     height: auto;
    padding: 60px;
}

.jumbotron{
    background-color: #E9967A;
    color: white;
    padding: 40px;
}

.col-sm-4{
    color: #F5FFFA;
    padding: 40px;
    padding-bottom: 10px;
}

#comments{
    color: #F5FFFA;
    /*background-color: #E9967A;*/
    padding: 40px;
}
